.parallax{
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.parallax1{
    @extend .parallax;
    background-image: url(/images/portfolio-background1.jpg);
    background-position: 0rem;
    z-index: 2;
    color: rgb(255, 255, 255);
}
.parallax2{
    @extend .parallax;
    background-image: url(/images/portfolio-background2.webp);
    background-position: 0rem;
    z-index: 3;
    color: aliceblue;
}
.parallax3{
    @extend .parallax;
    background-image: url(/images/portfolio-background3.webp);
    background-position: 0rem;
    z-index: 4;
    color: azure;    
}